@font-face {
    font-family: 'BigNoodleTitlingCyr';
    src: url('../fonts/10089.eot');
    src: url('../fonts/10089.eot?#iefix') format('embedded-opentype'),
        url('../fonts/10089.svg') format('svg'),
        url('../fonts/10089.ttf') format('truetype'),
        url('../fonts/10089.woff') format('woff'),
        url('../fonts/10089.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: BigNoodleTitlingCyr;
}
header {
	background-color:#f8f6f6;
	height:150px;
}
.logotype {
	display:flex;
	margin-top:50px;
}
.logotype .h3 {
	color:#746868;
	padding-top: 5px;
  padding-left:25px;
  letter-spacing:5px;
 
}
.container {
  max-width: 1000px;
  padding:0px;
}
.menu__burger {
  position: relative;
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  background-color: inherit;
  z-index: 11;
  margin-top:50px;
}
.menu__burger span,
.menu__burger span::before,
.menu__burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 20px;
  margin-top: -1px;
  margin-left: -10px;
  background: #554948;
}
.menu .menu__burger span::before,
.menu .menu__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.menu .menu__burger span::before {
  transform: translateY(-5px);
}
.menu .menu__burger span::after {
  transform: translateY(5px);
}
.menu .menu__burger--active span {
  height: 0;
}
.menu .menu__burger--active span:before {
  transform: rotate(45deg);
}
.menu .menu__burger--active span:after {
  transform: rotate(135deg);
}
.menu-popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #fff 0%, #c2c2c2 100%);
  z-index: 10;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu-popup.active {
  transform: translateX(0%);
}
.menu-popup__list {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}
.menu-popup__item {
  margin: 0 auto;
  text-align: center;
}
.menu-popup__link {
  font-size: 20px;
  color: palevioletred;
}
.menu-popup__link:hover {
  text-decoration: none;
  color: #b2305c;
}
#section_one {
	background-color:#353535;
	height:700px;
	text-transform:uppercase;
	color:#d6d5d5;
	text-align:center;
}
#section_one .container-fluid {
	padding-top:300px;
}
h1, h2 ,h3 ,h4 ,h5, h6, p {
  margin:0;
  padding:0;
}
h1 {
  font-size:50px;
  letter-spacing: 15px
}
h2 {
  font-size:25px;
  letter-spacing: 5px;
}
#section_one h2 {
  padding-top:20px;
}
.mouse_scroll .h3 {
  padding-top:20px;
  font-size:12px;
  font-weight:bold;
}
.carousel-control-prev-icon {
  background-image: url("../images/left-arrow.svg");
}
.carousel-control-next-icon {
  background-image: url("../images/right-arrow.svg");
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 40px;
	width:40px;
}

.carousel-control-next, .carousel-control-prev {
    top: -44px;
    width: 15%;
}
.mouse_scroll {
  padding-top:170px;
}
#section_two {
  height:570px;
  text-transform:uppercase;
	text-align:center;
}
#section_two h2 {
  font-size:48px;
  letter-spacing:5px;
  padding-top:90px;
}

#section_two hr {
  color:#f15324;
  background-color: #f15324;
  width:153px;
  height:3px;
}
hr {
  margin-top:0;
  border: none;
  margin-bottom:0px;
}
.text {
  width:57%;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  margin:0 auto;
  padding-top:25px;
  font-weight: 100;
}

#section_two .text_header {
  font-family: 'Roboto', sans-serif;
  font-size:17px;
  font-weight:bold;
  text-transform: uppercase;
  margin-top:20px;
  margin-bottom:10px;
}
#section_two .text_content {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  text-transform: none;
  font-weight: 100;
}
#section_two .content {
  display: flex;
  justify-content: space-around;
  margin-top:55px;
}
.content .grid_content {
  background-color: #ebebeb;
  padding:30px 25px 20px 45px;
}
.content .grid_content:nth-child(2) {
  margin:0 22px;
}
#section-three {
  height:430px;
  background-color:#171f23;
  text-align: center;
}
#section-three .col {
  padding:0;
  height:430px;
}
#section-three .text_header {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:30px;
  font-weight:bold;
  margin-top:125px;
  margin-bottom:25px;
  text-transform: uppercase;
  font-weight: 100;
}
#section-three .text_content {
  color:#58595a;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  width:72%;
  margin:0 auto;
  font-weight: 100;
}
#section-three .button {
  text-transform: uppercase;
  background-color: #e84c3d;
  border:none;
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  border-bottom:2px solid #b11000;
  color:white;
  padding:10px 25px;
  margin-top:45px;
}
#section-three .image {
  background: no-repeat url(../images/girl2.jpg)  center center /cover;
  filter: grayscale(100%);
}
#section_four h2 {
  font-size:48px;
  letter-spacing:5px;
  padding-top:70px;
  text-align: center;
}

#section_four hr {
  color:#f15324;
  background-color: #f15324;
  width:153px;
  height:3px;
}
#section_four .text {
  width:42%;
  text-align: center;
}
.portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:14px;
  margin-top:80px;
  text-transform: uppercase;
}
.portfolio .nav {
  justify-content: center;
}
.portfolio .nav a {
  color:#58595a;
  margin-bottom:25px;
}
.portfolio .nav a:hover {
  color:#4d4140;
  font-weight:bold;
  border-bottom:2px solid #f15324;
  padding-left:0;
  padding-right:0;
  margin:0 1rem;
  margin-bottom:23px
}
.portfolio .row {
  height:525px;
  background-color:#e84c3d;
}
#section_five {
background-color:#1c1c1c;
height: 240px;
font-size:33px;
color:white;
}
#section_five .container {
  padding-top:100px;
}
.clients {
  /* display:flex;
  justify-content: space-evenly; */
  font-family: 'Roboto', sans-serif;
  /* position:relative; */
}
.image_svg {
  height:35px;
  filter:grayscale(100%);
  margin-top:10px;
}
.clients .clients_display {
  display:inherit;
  position: relative;
}
.clients .bee{
  left:75px;
}

.item {
  margin-left:10px;
}
.carousel-control-prev_two {
left:0;
}
.carousel-control-next_two, .carousel-control-prev_two {
  
  width: 5%;
  position: absolute;
  top: 110px;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;

}
.carousel-control-next_two {
  right: 0;
}
#section_six {
  height:810px;
  text-align: center;
}
#section_six h2 {
  font-size:48px;
  letter-spacing:5px;
  padding-top:75px;
}

#section_six hr {
  color:#f15324;
  background-color: #f15324;
  width:153px;
  height:3px;
}
.flex_background {
  background-color:#ebebeb;
}
.pusto_two {
  width: 135px;
  height: 135px;
  background: #f26c4f;
  /* position: absolute;
  top: 8px;
  left: 0px; */
  border-radius:50%;
  margin:70px 90px 25px 90px;
}
.flex {
  display: flex;
  height:430px;
  margin-top:80px;
}
.flex_background:nth-child(1) {
  width:33%;
  margin-right:10px;
}
.flex_background:nth-child(2) {
  width:66%;
}
.name {
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  margin-right:19px;
}
.job {
  font-size:14px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  text-transform: uppercase;
  margin-right: 25px;
}
.social {
  margin-right: 25px;
  margin-top:15px;
}
.social img {
 filter:grayscale(100%);
}
.social img:nth-child(2) {
  margin-left:5px;
  margin-right:5px;
}
.flex .container {
  max-width:550px;
  text-align-last: left;
}
.skill {
  font-size:24px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-top:100px;
}
.skill_text {
  font-size:14px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  margin-top:20px;
  margin-bottom:40px;
}
.flex-one p{
  font-size:14px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.progress {
  background-color: white;
  width:68%;
  margin-top:2px;
}
.skill_procent {
  width:5%;
  margin-left:5px;
}
.skill_name {
  width:25%;
}
.flexon {
  display:flex;
  flex-direction: column;
}
.flex-one {
  display: flex;
  flex-direction: row;
}
#section_seven {
  height:385px;
  background: #171f23;
}
#section_seven .header {
  text-align:center;
  padding-top:55px;
}
#section_seven h2 {
  color:white;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
}
#section_seven hr {
  color:#404040;
  background-color: #404040;
  width:85px;
  height:1px;
  margin-top:15px;
}
.content_item img {
  height:50px;
}
.container_content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.content_item {
  flex-direction: column;
  color:white;
  text-align: center;
  margin-top:45px;
}
.content_item_text {
  font-size:18px;
  font-weight:300;
  font-family: 'Roboto', sans-serif;
  margin-top:25px;
}
.content_item_number {
  font-size:48px;
  font-weight:300;
  font-family: 'Roboto', sans-serif;
}
#section_eight {
  height:795px;
  text-align: center;
}
#section_eight h2 {
  font-size:48px;
  letter-spacing:5px;
  padding-top:70px;
}

#section_eight hr {
  color:#f15324;
  background-color: #f15324;
  width:153px;
  height:3px;
}
.blog_image {
  height:220px;
  background-color:#787474;
}
#section_eight .content{
  display: flex;
  flex-direction: row;
}
#section_eight .grid_content {
  padding: 0;
}
#section_eight .text_header {
  font-weight:300;
  font-family: 'Roboto', sans-serif;
  font-size:18px;
}
#section_eight .text_content {
  font-weight:100;
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}
#section_eight img {
  height:13px;
}
.flex_row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px 30px 20px 25px;
  font-weight:300;
  font-family: 'Roboto', sans-serif;
  font-size:10px;
}
.flex_row_content {
  display:flex;
  flex-direction: row;
}
#section_eight .text_content {
  text-align: left;
  padding-left:25px;
  padding-right:25px;
}
#section_eight .text_header {
  text-align: left;
  padding-left:20px;
  padding-top:35px;
  padding-bottom:20px;
}
#section_eight .social_data {
  margin-left:5px;
}
#section_eight .flex_row_content img:nth-child(3) {
  margin-left:5px;
  margin-top:3px;
}
.blog_image_background {
  background: url(../images/Gory.jpg) center;
}
#section_eight .blog_image_button {
  height:45px;
  width:45px;
  border-radius: 50%;
}
.blog_image_button_orange {
  background-color: #f15324;
}
.blog_image_button_white{
  background-color: #ffffff;
}
#section_eight .blog_image_button img {
  height:20px;
  margin-top: 12px;
}
.flex_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.flex_hover:hover {
  opacity: 1;
}
#section_eight .blog_image_button:last-child {
  margin-left:10px;
}
#section_eight .blog_image_button:first-child {
  margin-right:10px;
}
.blog_image_button  {
  cursor: pointer;
}
#section_eight .content {
  margin-top:70px;
}
/* #section_nine {
  height:705px;
  background: #171f23;
  text-align: center;
}
#section_nine h2 {
  color:white;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  padding-top:55px;
}
#section_nine hr {
  color:#404040;
  background-color: #404040;
  width:86px;
  height:1px;
  margin-top:15px;
}
.flex_price {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
/* .slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
} */
footer {
  background:#171f23;
}
.footer_logotype {
text-align:center;
padding-top:50px;
}
.footer_logotype .h3 {
	color:white;
	padding-top: 5px;
  padding-left:25px;
  letter-spacing:5px;
 
}
.footer_text {
    font-size:14px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  color:white;
  text-transform:uppercase;
}
.footer_logotype  img{
  filter:grayscale(0%);
  cursor:pointer;
}
.footer_logotype .social {
  margin-right:0px;
  padding-bottom:60px;
}

@media (min-width:992px) and (max-width:1199px) {
  .slick-prev {
    left: 5px;
}
.slick-next {
  right: 10px;
}

  h1 {
    font-size:35px;
  }
  h2 {
    font-size:22px;
  }
  #section_two h2 {
    font-size:40px;
  }
#section_four h2 {
    font-size:40px;
  }
 #section_six h2 {
    font-size:40px;
  }
   #section_eight h2 {
    font-size:40px;
  }
  #section_two .content {
    padding: 0 30px;
}
.container_content {
    padding: 0 30px;
}
#section_eight .content {
    padding: 0 30px;
}
.logotype {
    padding: 0 80px;
}
header .row {
    margin: 0;
}
#section_seven h2 {
  font-size:34px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .slick-prev {
    left: 5px;
}
.slick-next {
  right: 10px;
}
  h1 {
    font-size: 40px;
    letter-spacing: 5px;
}
#section_one .container-fluid {
    padding-top: 200px;
}
#section_one {
    height: 600px;
}
#section_two h2 {
  font-size:35px;
}
#section_four h2 {
  font-size:35px;
}
#section_six h2 {
  font-size:35px;
}
 #section_eight h2 {
  font-size:35px;
}
  #section_two .content {
    padding: 0 30px;
}
.container_content {
    padding: 0 30px;
}
#section_eight .content {
    padding: 0 30px;
}
.logotype {
    padding: 0 80px;
}
#section-three .button {
    margin-top: 20px;
}
.pusto_two {
    margin: 70px 90px 25px 55px;
    
}
.flex .container {
    padding: 0 25px;
}
.skill_text {
    text-align: left;
}
header .row {
    margin: 0;
}
#section_seven h2 {
  font-size:34px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
      h1 {
      font-size: 35px;
      letter-spacing: 0px;
  }
h2 {
  font-size:20px;
  letter-spacing: 1px;
}
#section_five .container {
 padding-top:0px;
}
#section_five .carousel-control-prev-icon {
  display: none;
}
#section_five .carousel-control-next-icon {
  display: none;
}
/* .clients .clients_display:nth-child(1) {
  margin-left: 90px;
}
.clients .clients_display {
  margin-left: 90px;
} */
#section_one .container-fluid {
    padding-top: 100px;
}
#section_one {
    height: 450px;
}
#section_two h2 {
  font-size:35px;
}
#section_four h2 {
  font-size:35px;
}
#section_six h2 {
  font-size:35px;
}
 #section_eight h2 {
  font-size:35px;
}
  #section_two .content {
    padding: 0 30px;
    margin-bottom: 30px;
}
.container_content {
    padding: 0 30px;
}
#section_eight .content {
    padding: 0 30px;
    padding-bottom: 30px;
}
.logotype {
    padding: 0 80px;
}
#section-three .button {
    margin-top: 20px;
}
.pusto_two {
    margin: 70px 90px 25px 25px;
    width:100px;
    height:100px;
    
}
.flex .container {
    padding: 0 25px;
}
.skill_text {
    text-align: left;
}
#section_two, #section-three,#section_four,#section_five, #section_six,#section_seven,#section_eight {
  height:auto;
}
.mouse_scroll {
    padding-top: 130px;
}
.content .grid_content {
    padding: 30px 25px 20px 25px;
}
#section-three .text_header {
    margin-top: 15px;
}
.portfolio .row {
    height: 300px;
}
.clients {
    padding-top: 30px;
    padding-bottom:30px;
}
.carousel-control-next_two, .carousel-control-prev_two {
    top: 5px;
    width:10%;
}
/* .clients .clients_display:nth-child(2) {
    display: none;
}
.clients .clients_display:nth-child(3) {
    display: none;
} */
.skill_name {
    width: 45%;
}
.flex-one p {
    font-size: 12px;
}
.content_item_number {
    font-size: 40px;
}
.content_item:first-child .content_item_number {
  margin-top:27px;
}
.content .grid_content:nth-child(3) {
    display: none;
}

.flex_row {
    padding: 10px 30px 20px 10px;
}
.content .grid_content .flex_row {
  margin-top:26px;
}
header .row {
    margin: 0;
}
.content .grid_content:nth-child(2) {
    margin-left:22px;
    margin-right:0px;
}
#section_seven h2 {
  font-size:32px;
}
}
@media (max-width:480px) {
h1 {
    font-size: 23px;
    letter-spacing: 1px;
}
h2 {
  font-size:12px;
   letter-spacing: 2px;
}
.carousel-control-next, .carousel-control-prev {
    top: -34px;
    width: 8%;
}
#section_five .carousel-control-prev-icon {
  display: none;
}
#section_five .carousel-control-next-icon {
  display: none;
}
#section_one .container-fluid {
    padding-top: 100px;
}
#section_one {
    height: 350px;
}
#section_two h2 {
    font-size:35px;
  }
#section_four h2 {
    font-size:35px;
  }
 #section_six h2 {
    font-size:35px;
  }
   #section_eight h2 {
    font-size:35px;
  }
  #section_two .content {
    padding: 0 30px;
    margin-bottom: 30px;
}
#section-three .image {
  display:none;
}
.container_content {
    padding: 0;
    padding-left:5px;
}
.content_item_text {
    font-size: 12px;
}
#section_eight .content {
    padding: 0 30px;
    padding-bottom: 30px;
}
.logotype {
    padding: 0;
    margin-top:55px;
}
#section-three .button {
    margin-top: 20px;
}
.pusto_two {
        margin: 0px auto;
    width:80px;
    height:80px;
    
}
.flex .container {
    padding: 0 25px;
}
.skill_text {
    text-align: left;
}
#section_two, #section-three, #section_four, #section_five, #section_six,#section_seven,#section_eight {
  height:auto;
}
.mouse_scroll {
    padding-top: 85px;
}
.content .grid_content {
    padding: 30px 25px 20px 25px;
}
#section-three .text_header {
    margin-top: 15px;
}
.portfolio .row {
    height: 300px;
}
.clients {
    padding-top: 30px;
    padding-bottom:30px;
}
.carousel-control-next_two, .carousel-control-prev_two {
    top: 5px;
    width:10%;
}
/* .clients .clients_display:nth-child(2) {
    display: none;
}
.clients .clients_display:nth-child(3) {
    display: none;
} */
.skill_name {
    width: 45%;
}
.flex-one p {
    font-size: 12px;
}
.content_item_number {
    font-size: 30px;
}
.content_item:first-child .content_item_number {
  margin-top:18px;
}
.content .grid_content:nth-child(3) {
    display: none;
}
.content .grid_content:nth-child(1) {
  display:none;
}

.flex_row {
    padding: 10px 30px 20px 10px;
}
.content .grid_content .flex_row {
  margin-top:26px;
}
header .row {
    margin: 0;
}
.content .grid_content:nth-child(2) {
    margin: 0;
}
.flex {
    height: auto;
    display:block;
    margin-top:0;
}
.flex_background:nth-child(1) {
    width: 100%;
    padding-top:20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.flex_background:nth-child(2) {
    width: 100%;
    padding-top:10px;
}
.skill {
margin-top:0;
}
.name {
  margin:0;
}
.job {
   margin:0;
}
.flex .container {
    text-align-last: center;
    padding-bottom: 20px;
}
.portfolio {
    margin-top: 20px;
}
#section_six .social {
    margin:0;
}
.footer_logotype .social {
    padding-bottom: 15px;
}
#section_seven h2 {
    font-size:30px;
}
/* .clients .clients_display:nth-child(1) {
  margin: 0px 55px;
}
.clients .clients_display {
  margin: 0px 55px;
} */
#section_five .container {
  padding-top: 0px;
}
}