/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "BigNoodleTitlingCyr";
  src: url("./fonts/10089.eot"); /* IE9 Compat Modes */
  src: url("./fonts/10089.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/10089.otf") format("opentype"), /* Open Type Font */
    url("./fonts/10089.svg") format("svg"), /* Legacy iOS */
    url("./fonts/10089.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/10089.woff") format("woff"), /* Modern Browsers */
    url("./fonts/10089.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}